.article-new {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.article-indx-fragment {
    top: 20px;
    padding: 25px;
    height: 452px;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0px 1px 1px -1px #CFD8DC;
    transition: box-shadow 1s;
}

.article-indx-fragment:hover {
    box-shadow: 0px 0px 15px #d8dfe2;;
}

.article-thumb-cover {
    height: 330px;
    margin: -25px;
    background-size: cover;
    display: block;
    overflow: hidden;
    background-color: currentColor;
}
    

.article-thumb-cover img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    max-height: 100%;
    vertical-align: middle;
}

.article-thumb-cover img:hover {
    -webkit-backface-visibility: visible;
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}

.article-title {
    color: white;
    margin-top: -45px;
    font-size: 20px;
}

.article-content-preview {
    margin-top: 38px;
    color: #263238;
    padding-bottom: 18px;
}

.article-more {
    position: absolute;
    right: 10px;
    bottom: 65px;
}

.article-separator {
    border-bottom: 1px solid #F5F5F5;
    margin-left: -25px;
    margin-right: -25px;
}

.article-author {
    padding-top: 13px;
    font-size: 12px;
    font-style: italic;
}

.article-btn-like {
    position: absolute;
    right: 10px;
    bottom: 9px;
}

.no-hover-effect,
.no-hover-effect: hover {
    text-decoration: none;
    outline: none;
}

/*create new article dialog*/

.submit-article {
    margin-top: 10px;
    float: right;
    background:  #53a93f;
    color: white;
    align-self: right;
}
.article-img-cover {
    padding: 2px;
    border: 5px solid;
    border-style: dotted;
    border-color:#E6E9EC;
    color: #E6E9EC;
    height: 200px;
}

.article-card-av {
    position: relative;
    bottom: 2px;
    right: 13px;
    margin-right: 10px;
}