.forum-indx-fragment {
    top: 20px;
    margin-bottom: 10px;
    padding: 25px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 1px 1px -1px #CFD8DC;
    border: 1px solid #F8F8F8;
}

.forum-text-question {
    margin-top: 14px;
    font-size: 17px;
}

.forum-question-state-check {
    float: right;
    margin-top: 5px;
    color: green;
}

.forum-question-state-wrong {
    float: right;
    margin-top: 5px;
    color: red;
}