html,body {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'RobotoDraft', sans-serif;
    color: #546E7A;
}

core-header-panel {
    background: white;
}

core-toolbar {
    background-color: #263238;
    color: white;
}

core-menu {
    color: #263238;
}
paper-input {
    width: 100%;
}
paper-tab {
    cursor: pointer;
}

input {
    color: #263238;
}

h3,h4,h2 {
    color: #546E7A;
}

input[type="file"] {
    display: None;
}

paper-item[active] {
    visibility: hidden;
}

/*Login*/
.line {
    border-top: 1px solid #EEE;
    margin-top: 15px;
    margin-bottom: 25px;
}

.wall {
    border-right: 1px solid #EEE;
}

.social-login {
    margin-top: 13px;
    margin-right: 3px;
    margin-left: 0;
}

.login-facebook {
    color: white;
    background: #3F51B5;
}

.login-google {
    color: white;
    background: #F44336;
}

.login-google:hover {
    background: #E53935;
}

.login-facebook:hover {
    background: #3949AB;
}

.btn-icon {
    position: absolute;
    left: 0;
    top: 15px;
}

.btn-left-arrow {
    position: absolute;
    right: 0;
    top: 13px;
}

.dropdown {
    position: absolute;
    right: 0px;
    width:  150px;
}

.menu {
    position: absolute;
    background: white;
    padding: 4px;
    z-index: 10;
    width: 175px;
    right: 0;
    top: 45px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
}

.menu-hide {
    visibility: hidden;
    opacity:0;
}

.menu-show {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

.custom-btn {
    display: inline-block;
    cursor: pointer;
}

.submit-post::shadow .button-content {
    padding: 0;
    height: 39px;
}

.btn-new-post .button-content,
.btn-signup .button-content {
    padding: 0;
}

.btn-submit {
    color: inherit;
    font-family: 'RobotoDraft', sans-serif;
    font-size: 15px;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    height: 41px;
}

.btn-submit::-moz-focus-inner {
    border: 0;
}

.btn-post {
    color: white;
    background: #1565C0;
    text-align: right;
    padding:0;
}

.btn-signup {
    background:  #3F51B5;
    text-align: right;
    padding:0;
    color: white;
    margin-bottom: 18px;
}

.btn-post::shadow .button-content,
.login-facebook::shadow .button-content,
.login-google::shadow .button-content{
    padding:0;
}

.btn-lnk {
    background:  #3F51B5;
    color: white;
    align-self: right;
}
.btn-action {
    text-align: right;
    margin-top: 10px;
}

#logo {
    height: 25px;
    margin-bottom: -2px;
}

#sec-color {
  background-color: #37474F;
    color: white;
}

.content {
    padding: 20px;
    color: #546E7A;
}

.span-shadow {
    padding: 25px;
    border-radius: 3px;
}

/*index*/

/*new post*/
.frm-txtfield {
    padding:15px;
    border: 1px solid;
    border-color:#E6E9EC;
}

.frm-imgfield {
    padding: 2px;
    border: 5px solid;
    border-style: dotted;
    border-color:#E6E9EC;
    color: #E6E9EC;
    height: 200px;
}

.frm-imgfield .add-image {
    margin-left: 45%;
    margin-top: 8.5%;
}

.img-thumb {
    border: 10px solid;
    border-radius: 8px;
    margin: auto;
}

.full-width {
    width: 100%;
}

.add-image > paper-icon-button::shadow #icon {
    width: 43px;
    height: 43px;
}

paper-fab {
    color: #fff;
    margin-left: 0.5em;
}
.new-msg,
.new-issue,
.new-act {
    background: #263238;
}

#activity-dialog,
#issue-dialog,
#message-dialog {
    border-radius: 3px;
}

#action-new {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.indx-fragment {
    top: 20px;
    padding: 25px;
    background: white;
    border-radius: 2px;
    box-shadow: 0px 1px 1px -1px #CFD8DC;
}

.page-frm {
    position: absolute;
    right: 20px;
    left:20px;
}

.indx-color {
    background: #ECEFF1;
}

.side-bar {
    position: fixed;
    margin-top: 40px;
    margin-left: -15px;
    margin-right: 5%;
    width: 20%;
    color: #546E7A;
    padding: 0;
    background: white;
    border-radius: 2px;
}

.side-bar-act {
    padding-top: 2px;
    padding-left: 3px;
    padding-bottom: 0px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background: #B0BEC5;
    color: white;
}

/*Side bar menu*/
.side-bar-content {
    padding: 15px;
}

.detail-board {
    position: relative;
    top: -14px;
}

.icon-board {
    color: #1B5E20;
}

/*Activity form*/
.a-white,
.a-white:hover {
    color: white;
}
.frm-av {
    width: 54px;
}

.frm-av img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -2px;
}

.frm-name {
    padding-top: 4px;
    font-weight: bold;
    color:  #455A64;
    font-size: 15px;
}

.frm-date {
    position: relative;
    right: 16px;
    top: 0px;
    padding-left: 0;
    text-align: right;
}

.frm-txt {
    padding-top: 15px;
    padding-bottom: 5px;
}

.frm-pic {
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid;
    border-color:#ECEFF1;
/*    overflow: hidden;*/
}

.frm-pic img {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
/*    max-height: 300px;*/
}

.frm-dtl {
    padding-top: 25px;
}

.frm-dtl-info {
    width: 165px;
}

.con-comm {
    margin-left: -26px;
    margin-right: -26px;
    margin-bottom: -25px;
}

.frm-comm {
    margin-top: 25px;
    border: 1px solid;
    border-color: #DFE5E7;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #F0F3F4;
    padding: 25px;
}

.txt-comm {
      float: left;
      margin-top: -42px;
      margin-left: 188px;
      width: 46%;
}

.snd-comm {
    float: right;
    margin-top: -40px;
}

.comment-board {
    padding-left: 5px;
    padding-left: 5px;
}

.btn-frm-info {
    border: 1px solid;
    border-color: #CFD8DC;
}

.tool-selected {
    background: white;
    border-radius: 50%;
    color: #2E7D32;
}

.pep-agreed {
    height: 30px;
    font-size: 10px;
    padding: 13px;
}

.user-pep-agreed {
    color: #eeff41;
}

/*comment board*/
.comm-av {
    width: 25px;
    padding-left: 0;
}
.comm-av img {
    border-radius: 50%;
    height: 38px;
    width: 38px;
}

.comm-name {
    font-weight: bold;
    color:  #455A64;
    font-size: 14px;
}

.comm-text {
    padding-top: 15px;
    padding-left: 56px;
}

.new-frm-av {
/*
    margin-left: 15px;
    float: left;
    width: 54px;
*/
}

.new-frm-av img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -2px;
}

.new-frm-msg {
/*
    margin-left: 20px;
    float:left;
*/
}
.new-frm-msg .frm-txtfield  paper-autogrow-textarea{
    width: inherit;
}

.new-post-btn {
    float: right;
}

.new-post-show {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
}

.new-post-hide {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    height: 0;
/*    -webkit-transition: visibility 0s 0s, opacity 2s linear;
    -moz-transition: visibility 0s 0s, opacity 2s linear;
    -o-transition: visibility 0s 0s, opacity 2s linear;
    transition: visibility 0s 2s, opacity 2s linear;*/
    
    /*
    -webkit-transition: margin-top 0s 2s;
    -moz-transition: margin-top 0s 2s;
    -o-transition: margin-top 0s 2s;
    transition: margin-top 0s 2s;*/
}

.btn-hide {
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.2s,opacity 0.2s linear;
}

.btn-show {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}


/*register*/

#form-register {
    padding: 25px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*login*/

 .login-form {
    margin: auto;
    margin-top: 50px;
    height: 200px;
    width: 500px;
    background: white;
    vertical-align: center;
}

#logo {
    height: 25px;
    margin-bottom: -2px;
}

core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

.app-detail {
    width: 100%;
}

.more paper-icon-button {
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.more:hover paper-icon-button {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.more {
    margin-bottom: 10px;
    text-align: center;
}

.more-refresh:hover {
    color: #2E7D32;
}

.more-refresh {
    border-radius: 50%;
    background: white;
    color: #E53935;
}

/*google NOOO*/
.eg {
    display: block;
    background-color: white;
    border-top: 1px solid #e4e4e4;
    cursor: text;
    height: 15px;
    left: -15px;
    position: absolute;
    top: -1px;
    width: 20px;
}
.oo {
    border-bottom: 16px solid #e4e4e4;
    border-right: 16px solid transparent;
    left: -1px;
    top: -1px;
    }
.VK {
    border-bottom: 15px solid white;
    border-right: 15px solid transparent;
    left: -1px;
}
.yw {
    height: 0;
    position: absolute;
    width: 0;
}

.sub-color {
    color: #90A4AE;
}

/*profile page*/

.profile-bar {
/*    background-image: url('/static/colla/images/cover_img/cover_default.jpg');*/
    height: 200px;
}

.profile-info {
    margin-bottom: 50px;
}

.profile-holder {
    position: fixed;
    left: 28px;
    top: 79px;
}

.profile-picture {
    border-radius: 50%;
    cursor: pointer;
    width: 95px;
    height: 95px;
}

.profile-pic-lbl {
    position: relative;
    top: -74px;
    left: 125px;
    color: white;
}

.profile-input .underline .focused-underline
.profile-input .underline .unfocused-underline, {
    background-color: white;
}

/*media query for smaller phones*/

@media screen and (max-width: 435px) {
    .new-frm-av {
        width: 21.666667%;
    }
    .new-frm-msg {
        width: 78.333333%;
    }
    
}

@media screen and (max-width: 320px) {
    .new-frm-av {
        width: 24.666667%;
    }
    .new-frm-msg {
        width: 75.333333%;
    }
    
}

@media screen and (max-width: 414px) {
    .input-comment,
    .snd-comm {
        visibility: hidden;
    }
    
}

/*post button*/
@media screen and (max-width: 385px) {
    #reset-text,
    .btn-lnk {
        width: 46%;
    }
    
    #post-btn {
        display: none;
        margin-top: 16px;
        width: 100%;
    }
    
}
/*320 screen width*/
@media screen and (max-width: 320px) {
    #reset-text {
        width: 45%;
    }
    
}