<!doctype html>
<html>

<head>

{% load staticfiles %}
<title>Dashboard</title>

     <meta name="viewport" 
    content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="{% static 'plugin/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'colla/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'colla/css/article.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'colla/css/forum.css' %}">
    <script src="{% static 'plugin/polymer/components/webcomponentsjs/webcomponents.js' %}"></script>
    <link rel="import" href="{% static 'plugin/polymer/components/font-roboto/roboto.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-header-panel/core-header-panel.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-toolbar/core-toolbar.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-tooltip/core-tooltip.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-tabs/paper-tabs.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-button/paper-button.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-input/paper-input.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-input/paper-autogrow-textarea.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-checkbox/paper-checkbox.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-input/core-input.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-fab/paper-fab.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-dialog/paper-dialog.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-dialog/paper-action-dialog.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-dialog/paper-dialog-transition.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-fab/paper-fab.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-toast/paper-toast.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-menu-button/paper-menu-button.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-dropdown/paper-dropdown.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-item/paper-item.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-toolbar/core-toolbar.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-menu/core-menu.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-item/core-item.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-header-panel/core-header-panel.htm' %}l">
    <link rel="import" href="{% static 'plugin/polymer/components/core-drawer-panel/core-drawer-panel.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-icons/core-icons.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-icon-button/paper-icon-button.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-scaffold/core-scaffold.html' %}">

</head>

<body fullbleed vertical layout unresolved>
    <core-header-panel flex class="indx-color">
        <core-toolbar id="mainheader" class="medium-tall">
            <paper-icon-button src="/static/colla/images/logo.png"></paper-icon-button>
            {%  for profile in auth_user.profile %}
            <span flex>Dashboard</span>
            <input type="hidden" id="user-prof-pic" value="{{ profile.profile_pic }}">
            <span>
                <paper-icon-button id="searchbutton" icon="search"></paper-icon-button>
                <paper-icon-button class="hidden-xs" id="helpbutton" icon="help"></paper-icon-button>
                <paper-icon-button class="hidden-xs" id="explorebutton" icon="explore"></paper-icon-button>
                <paper-icon-button class="hidden-xs" id="exitbutton" icon="exit-to-app" onClick="logout()"></paper-icon-button>
                <a href="/colla/profile" class="a-white"><paper-icon-button class="hidden-xs" id="userbutton" icon="account-circle"></paper-icon-button></a>
            </span>
            <span class="hidden-md hidden-lg hidden-sm">
                <paper-icon-button icon="more-vert" onclick="showMenu()"></paper-icon-button>
                <core-menu id="menu" class="menu menu-hide">
                    <paper-item>New Project</paper-item>
                    <paper-item onClick="window.location.href='profile'">Profile</paper-item>
                    <paper-item onClick="window.location.href='/colla/logout'">Log out</paper-item>
                </core-menu>
            </span>
            <paper-tabs class="bottom fit" selected="0" noink>
                <paper-tab id="tab-activity"><core-icon icon="dashboard" class="visible-xs"></core-icon><span class="hidden-xs">Activity</span></paper-tab>
                <paper-tab id="tab-project"><core-icon icon="view-carousel" class="visible-xs"></core-icon><span class="hidden-xs">Articles</span></paper-tab>
                <paper-tab id="tab-monitor"><core-icon icon="trending-up" class="visible-xs"></core-icon><span class="hidden-xs">Forum</span></paper-tab>
                <paper-tab id="tab-graph"><core-icon icon="error" class="visible-xs"></core-icon><span class="hidden-xs">Issues</span></paper-tab>
                <paper-tab id="tab-issue"><core-icon icon="question-answer" class="visible-xs"></core-icon><span class="hidden-xs">Resources</span></paper-tab>
            </paper-tabs>
        </core-toolbar>
        
        <div class="content col-xs-12 col-sm-offset-1 col-sm-8">
            
            <div id="fragment-activity" class="page-frm">
<!--                create-->
                <div>
                    <paper-shadow class="indx-fragment" z="0">
                        <form id="imageUploadForm" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                            <div class="row">
                               
                                <div class="new-frm-av col-xs-2 col-sm-2 col-md-1.5 col-lg-1"><img id="user-post-img" src="{{ profile.profile_pic }}"/></div>
                                    <input type="hidden" id="user-post-name" value="{{ profile.dis_name }}"/>
                                <div class="col-xs-1"></div>
                                <div class="new-frm-msg col-xs-10 col-sm-10 col-md-10.5 col-lg-11">
                                    <div id="text-field" class="col-xs-12 frm-txtfield">
                                        <div class="eg">
                                            <div class="yw oo"></div>
                                            <div class="yw VK"></div>
                                        </div>
                                        <paper-autogrow-textarea id="a1">
                                            <textarea id="post-text" placeholder="Share What's New.." onkeyup="postBtn()" name="text"></textarea>
                                        </paper-autogrow-textarea>
                                    </div>

                                    <div id="image-field" class="col-xs-12 frm-imgfield hidden">
                                        <label id="label-img" icon="add" class="custom-btn add-image"> 
                                            <input id="id_image" type="file"  name="image" onchange="readURL(this);">
                                            <paper-icon-button id="image-input" icon="add"></paper-icon-button>
                                            <img class="img-responsive resp-img" id="thumb" src=""/>
                                        </label>
                                            <input type="hidden" id="_fb_at" value="{{ fb_at.access_token }}"/>
                                            <input type="hidden" id="_token" value="{{ auth_user.id }}" name="userid"/>
                                            <input type="hidden" id="title" value="None" name="title">
                                            <input type="hidden" value="Shared Publicly" name="share" >
                                            <input type="hidden" value="" name="link">
                                            
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="row con-comm">
                                <div class="col-xs-12 frm-comm">
                                    <paper-shadow z="0" class="comment-board">
                                        <span><paper-icon-button class="tool-selected" id="new-text" icon="text-format"></paper-icon-button></span>&nbsp;
                                        <span><paper-icon-button class="" id="new-image" icon="picture-in-picture"></paper-icon-button></span>&nbsp;
                                        <span><paper-icon-button class="" id="new-link" icon="link"></paper-icon-button></span>
                                        <div id="post-btn" class="new-post-btn btn-hide">
                                            <paper-button id="reset-text" style="background: white">CANCEL</paper-button>
                                            <paper-button raised class="btn-lnk submit-post">
                                                <button class="btn-submit btn-new-post" type="submit" style="height: inherit;">POST</button>
                                            </paper-button>
                                        </div>
                                    </paper-shadow>
                                </div>
                            </div>
                        </form>
                    </paper-shadow><br/>
                </div>
<!--                create-->
<!-- NEW POST FRAGMENT-->                   
<!--                user's new post as is-->
                <div id="new-post" class="new-post-hide">
                    <paper-shadow class="indx-fragment" z="0">
                        <div class="row">
                            <div class="col-xs-1 frm-av"><img id="new-post-img" src=""/></div>
                            <div class="col-xs-8">
                                <div id="new-post-name" class="col-xs-12 frm-name">Name</div>
                                <div id="new-post-share-type" class="col-xs-12 frm-share">Share</div>
                            </div>
                            <div id="new-post-date" class="frm-date">date</div>
                            <div class="col-xs-12 frm-txt">
                                <p id="new-post-text">Text</p>
                            </div>
                            <div class="col-xs-12 frm-pic"><img id="new-post-pic" class="img-responsive"/></div>
                            <div class="col-xs-12 frm-dtl">
                                <div class="frm-dtl-info">
                                    <paper-button class="btn-frm-info dy-agree-post">
                                        <core-icon icon="thumb-up">
                                        </core-icon>
                                        <span>&emsp;0</span>
                                    </paper-button>
                                    <paper-button class="btn-frm-info">
                                        <core-icon icon="question-answer">
                                        </core-icon>
                                        <span>&emsp;0</span>
                                    </paper-button>
                                </div>
                                <div class="txt-comm" >
                                    <paper-input-decorator label="Add new comment...">
                                        <paper-autogrow-textarea id="a1">
                                            <textarea id="t1" name="comment"></textarea>
                                        </paper-autogrow-textarea>
                                    </paper-input-decorator>
                                </div>
                                <div class="snd-comm hidden-xs">
                                    <paper-icon-button id="snd-comment" icon="send"></paper-icon-button>
                                </div>
                            </div>
                        </div>
                        <div class="row con-comm">
                            <div class="col-xs-12 frm-comm">
<!--                                no comment as is-->
                            </div>
                        </div>
                    </paper-shadow><br/>
                </div>
<!--                user's new post as is-->

<!--                Dynamics here-->
                <div id="dynamic">

                </div>
<!--                Dynamics here-->


<!-- POSTS FRAGMENT-->   
<!--                GET from open window-->
                {% if post %}
                {% for user_post in post %}
                <div id="post_activity">
                    <input id="post{{ forloop.counter }}"type="hidden" value="{{ user_post.id }}">
                    <paper-shadow class="indx-fragment" z="0">
                        <div class="row">
                            <div class="col-xs-1 frm-av"><img src="{{ user_post.user_pic }}"/></div>
                            <div class="col-xs-8">
                                <div class="col-xs-12 frm-name">{{ user_post.user_dis_name }}</div>
                                <div class="col-xs-12 frm-share sub-color">{{ user_post.share_type }}</div>
                            </div>
                            <div class="frm-date">{{ user_post.date }}</div>
                            <div class="col-xs-12 frm-txt">
                                <p>{{ user_post.content_text|linebreaksbr }}</p>
                            </div>
                            <div class="col-xs-12 frm-pic"><img class="img-responsive resp-img" src="{{ user_post.content_image }}"/></div>
                            <div class="col-xs-12 frm-dtl">
                                <div class="frm-dtl-info">
                                    <form id="{{ user_post.id }}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ user_post.id }}" name="post_id">
                                        {% for profile in auth_user.profile %}
                                        <input type="hidden" value="{{ profile.dis_name }}" name="user_name">
                                        {% endfor %}
                                        <input id="submit-agree{{ user_post.id }}" type="submit" class="hidden">
                                        <core-tooltip>
                                            <paper-button class="btn-frm-info agree-post">
                                                <core-icon icon="thumb-up">
                                                </core-icon>
                                                <span>&emsp;{{ user_post.agrees }}</span>
                                            </paper-button>
                                            <div tip class="pep-agreed">
                                                {% if user_post.agreed %}
                                                {% for agree in user_post.agreed %}
                                                <span class="user-pep-agreed"><u>{{ agree.user_name }}</u></span> 
                                                {% endfor %}
                                                <span>agreed with this.</span>
                                                {% else %}
                                                <span>No agreed with this.</span>
                                                {% endif %}
                                            </div>
                                        </core-tooltip>
                                        <paper-button  class="btn-frm-info">
                                            <core-icon icon="question-answer">
                                            </core-icon>
                                            <span>&emsp;{{ user_post.comments }}</span>
                                        </paper-button>
                                    </form>
                                </div>
                                <form id="{{ user_post.id }}" method="post">
                                    {% csrf_token %}
                                    <div class="txt-comm" >
                                        <input type="hidden" value="{{ user_post.id }}" name="post_id" />
                                        {% for profile in auth_user.profile %}
                                        <input type="hidden" value="{{ profile.profile_pic }}" name="pic" />
                                        <input type="hidden" value="{{ profile.dis_name  }}" name="user_name" />
                                         {% endfor %}
                                        <paper-input-decorator class="input-comment" label="Add new comment...">
                                            <paper-autogrow-textarea id="a1">
                                                <textarea id="t1" name="comment"></textarea>
                                            </paper-autogrow-textarea>
                                        </paper-input-decorator>
                                    </div>
                                    <div class="snd-comm">
                                        <input id="submit-comment{{ user_post.id }}" type="submit" class="hidden"/>
                                        <paper-icon-button class="send-comment" icon="send"></paper-icon-button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row con-comm">
                            <div class="col-xs-12 frm-comm">
                                <div class="tag-panel">#collaborations</div>
                                <div class="tag-pin"></div>
                            <!-- Comment start loop-->
                            {% for comment in user_post.comment %}
                                <paper-shadow z="0" class="comment-board">
                                    <div class="col-xs-2 comm-av"><img src="{{ comment.user_pic_url }}"/></div>
                                    <div class="col-xs-10">
                                        <div class="col-xs-12 comm-name">{{ comment.user_name }}</div>
                                        <div class="col-xs-12 comm-time sub-color">{{ comment.comment_date }}</div>
                                    </div>
                                    <div class="col-xs-12 comm-text">
                                        <p>{{ comment.comment }}</p>
                                    </div>
                                </paper-shadow>
                            {% endfor %}
                            <!--   end loop-->
                            </div>
                        </div>
                    </paper-shadow><br/>
                </div>
                {% endfor %}
                {% else %}
                    <!-- No Post -->
                {% endif %}
<!--                end loop-->
                
<!--                more post goes here-->
                <div id="more_post" class="more_post">
                    
                </div>
                
                <div class="more">
                    <paper-icon-button id="more" icon="autorenew" class="more-refresh"></paper-icon-button>
                </div>
<!--
                <paper-button raised onclick="document.querySelector('#toast1').show()">Discard Draft</paper-button>

                <paper-button raised onclick="document.querySelector('#toast2').show()">Get Messages</paper-button>
-->
                <paper-toast id="toastPost" text="Your post has been posted."></paper-toast>
                <paper-toast id="toastAgree" text="You agreed on a post."></paper-toast>
                <paper-toast id="toastComment" text="Your comment has been written."></paper-toast>
                
                <paper-toast id="toastNewPost" text="New posts are available now.">
                    <div style="color: #eeff41;" onclick="console.log('CHECK')">Check</div>
                </paper-toast>
                <paper-toast id="toastConnectionOut" role="alert" text="Connection timed out. Please check your internet.">
                    <div style="color: #eeff41;" onclick="console.log('RETRY')">Retry</div>
                </paper-toast>
            </div>
<!-- ARTICLE FRAGMENT-->                    
            <div id="fragment-project" class="page-frm hidden">
                <!-- cards default layout -->
                <div class="row">
                    <!-- do loop here -->
                    <div class="col-md-6">
                        <paper-shadow class="article-indx-fragment" z="1">
                            <a href="">
                                <div class="article-thumb" style="background-image: url(../static/colla/images/office.jpg);"></div>
                            </a>
                            <div class="article-title"><span>A Developers' Article</span></div>
                            <div class="article-content-preview">
                                <span>This is a preview of a content</span>
                                <div class="article-more">
                                    <paper-icon-button icon="more-vert" onclick="" role="button" tabindex="0" aria-label="more-vert"></paper-icon-button>
                                </div>
                            </div>
                            <div class="article-separator"></div>
                            <div class="article-author">
                                <span>By: John Edward Escuyos</span>
                            </div>
                        </paper-shadow>
                    </div>
                    <!-- loop -->
                </div>
            </div>
<!-- FORUMS FRAGMENT-->                       
            <div id="fragment-monitor" class="page-frm hidden">
                <!-- loop here -->
                <paper-shadow class="forum-indx-fragment" z="0">
                    <div class="row">
                        <div class="new-frm-av col-xs-2 col-md-1">
                            <img id="user-post-img" src="/static/colla/images/profile_img/av-default.png">
                        </div>
                        <a href="">
                            <div class="col-xs-8 col-md-9 forum-text-question">
                                <span>Why we need to do these things repeatedly?</span>
                            </div>
                        </a>
                        <div class="col-xs-1 col-md-2">
                            <paper-icon-button class="forum-question-state-check" icon="check" onclick="" role="button" tabindex="0" aria-label="check"></paper-icon-button>
                        </div>
                    </div>
                </paper-shadow>
                <!-- loop -->
            </div>
                    
            <div id="fragment-graph" class="page-frm hidden">
                <paper-shadow class="indx-fragment" z="0">
                    <span>Project Issues.</span>
                </paper-shadow>
            </div>
                    
            <div id="fragment-issue" class="page-frm hidden">
                <paper-shadow class="indx-fragment" z="0">
                    <span>Best Resources</span>
                </paper-shadow>
            </div>
                    
             
        </div>
        <div class="col-sm-2 hidden-xs">
            <paper-shadow class="side-bar" z="0">
                <div class="side-bar-act">
                    <paper-icon-button id="notification" icon="markunread-mailbox"></paper-icon-button>
                    <paper-icon-button id="chat" icon="question-answer"></paper-icon-button>
                </div>
                <paper-shadow id="notification-board" class="side-bar-content" z="0">
<!--                    dummy-->
                    <div class="chat-user">
                        <span class="comm-av"><img src="/static/colla/images/cover_img/cover_default.jpg"/></span>
                        <span class="detail-board">John Edward</span>
                        <div class="status-board">Commented on a post</div>
                        <div class="notify-date">5:00 AM</div>
                        
                    </div>
                    <div class="chat-user">
                        <span class="comm-av"><img src="/static/colla/images/cover_img/cover_default.jpg"/></span>
                        <span class="detail-board">Aphrodite</span>
                        <div class="status-board">Agreed a post</div>
                        
                        <div class="notify-date">5:00 AM</div>
                    </div>
                    <div class="chat-user">
                        <span class="comm-av"><img src="/static/colla/images/cover_img/cover_default.jpg"/></span>
                        <span class="detail-board">Olympus</span>
                        <div class="status-board">Shared an info</div>
                        
                        <div class="notify-date">5:00 AM</div>
                    </div>
                    <div class="chat-user">
                        <span class="comm-av"><img src="/static/colla/images/cover_img/cover_default.jpg"/></span>
                        <span class="detail-board">Cerberus</span>
                        <div class="status-board">Messaged you</div>
                        
                        <div class="notify-date">5:00 AM</div>
                    </div>
                </paper-shadow>
                <paper-shadow id="chat-board" class="side-bar-content" z="0" style="display:none;">
                    {% for user in users %}
                        {% for info in user.profile %}
                            {% if auth_user.id != user.id %}
                                <div class="chat-user open-chat-head">
                                    <input id="user_id" type="hidden" value="{{ user.id }}">
                                    <span class="comm-av"><img src="{{ info.profile_pic }}"/></span>
                                    <span class="detail-board">{{ info.dis_name }}</span>
                                    <div class="status-board" state="{{ user.log }}"></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </paper-shadow>
            </paper-shadow>
        </div>
                
<!--New Action Buttons-->
        <div id="action-new">
            <paper-fab id="new-message" class="new-msg" icon="add"></paper-fab>
        </div>
<!--Action Button Dialogs-->
        <paper-dialog id="message-dialog" transition="core-transition-center">
            <p>New message</p>
        </paper-dialog>
        
        <div id="chat-rooms" class="chat-rooms">
<!-- chat rooms go here -->
            
        </div>
        
    </core-header-panel>

<script type="text/javascript" src="{% static 'plugin/jquery-1.11.2.js' %}"></script>
<script type="text/javascript" src="{% static 'colla/js/fbSdk.js' %}"></script>
<script type="text/javascript" src="{% static 'colla/js/dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'colla/js/activity.js' %}"></script>
<script type="text/javascript" src="{% static 'colla/js/chat.js' %}"></script>
<!--
<script type="text/javascript" src="{% static 'colla/js/project.js' %}"></script>
<script type="text/javascript" src="{% static 'colla/js/monitor.js' %}"></script>
<script type="text/javascript" src="{% static 'colla/js/graph.js' %}"></script>
<script type="text/javascript" src="{% static 'colla/js/issue.js' %}"></script>
-->
</body>

</html>
