<!doctype html>
<html>

<head>

{% load staticfiles %}
<title>Dashboard</title>

     <meta name="viewport" 
    content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="{% static 'plugin/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'colla/css/style.css' %}">
    <script src="{% static 'plugin/polymer/components/webcomponentsjs/webcomponents.js' %}"></script>
    <link rel="import" href="{% static 'plugin/polymer/components/font-roboto/roboto.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-header-panel/core-header-panel.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-toolbar/core-toolbar.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-tabs/paper-tabs.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-button/paper-button.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-input/paper-input.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-input/paper-autogrow-textarea.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-checkbox/paper-checkbox.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-input/core-input.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-fab/paper-fab.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-dialog/paper-dialog.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-dialog/paper-action-dialog.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-dialog/paper-dialog-transition.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-fab/paper-fab.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-toolbar/core-toolbar.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-menu/core-menu.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-item/core-item.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-header-panel/core-header-panel.htm' %}l">
    <link rel="import" href="{% static 'plugin/polymer/components/core-drawer-panel/core-drawer-panel.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-icons/core-icons.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-icon-button/paper-icon-button.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-scaffold/core-scaffold.html' %}">

</head>

<body fullbleed vertical layout>
    <core-header-panel flex class="indx-color">
        <core-toolbar id="mainheader" class="medium-tall">
            <paper-icon-button src="/static/colla/images/logo.png"></paper-icon-button>
            {%  for profile in auth_user.profile %}
            <span flex>Dashboard {{ profile.dis_name }}</span>
            <span>
                <paper-icon-button id="searchbutton" icon="search"></paper-icon-button>
                <paper-icon-button class="hidden-xs" id="helpbutton" icon="help"></paper-icon-button>
                <paper-icon-button class="hidden-xs" id="explorebutton" icon="explore"></paper-icon-button>
                <paper-icon-button class="hidden-xs" id="addbutton" icon="add"></paper-icon-button>
                <paper-icon-button class="hidden-xs" id="exitbutton" icon="exit-to-app" onClick="window.location.href='/colla/logout'"></paper-icon-button>
                <paper-icon-button class="hidden-xs" id="userbutton" icon="supervisor-account"></paper-icon-button>
            </span>
            <span class="hidden-md hidden-lg hidden-sm">
                <paper-icon-button id="morebutton" icon="more-vert"></paper-icon-button>
            </span>
            <paper-tabs class="bottom fit" selected="0" noink>
                <paper-tab id="tab-activity">Activity</paper-tab>
                <paper-tab id="tab-project">Projects</paper-tab>
                <paper-tab id="tab-monitor">Monitor</paper-tab>
                <paper-tab id="tab-graph">Graphs</paper-tab>
                <paper-tab id="tab-issue">Issues</paper-tab>
            </paper-tabs>
        </core-toolbar>
        
        <div class="content col-xs-12 col-sm-offset-1 col-sm-8">
            
            <div id="fragment-activity" class="page-frm">
<!--                create-->
                <div>
                    <paper-shadow class="indx-fragment" z="0">
                        <form id="imageUploadForm" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                            <div class="row">
                               
                                    <div class="new-frm-av col-xs-2 col-sm-2 col-md-1.5 col-lg-1"><img id="user-post-img" src="{{ profile.profile_pic }}"/></div>
                                    <input type="hidden" id="user-post-name" value="{{ profile.dis_name }}"/>
                                    <div class="new-frm-msg col-xs-10 col-sm-10 col-md-10.5 col-lg-11">
                                    <div id="text-field" class="col-xs-12 frm-txtfield">
                                        <div class="eg">
                                            <div class="yw oo"></div>
                                            <div class="yw VK"></div>
                                        </div>
                                        <paper-autogrow-textarea id="a1">
                                            <textarea id="post-text" placeholder="Share What's New.." onkeyup="postBtn()" name="text"></textarea>
                                        </paper-autogrow-textarea>
                                    </div>

                                    <div id="image-field" class="col-xs-12 frm-imgfield hidden">
                                        <label id="label-img" icon="add" class="custom-btn add-image"> 
                                            <input id="id_image" type="file"  name="image" onchange="readURL(this);">
                                            <paper-icon-button id="image-input" icon="add"></paper-icon-button>
                                            <img class="img-responsive" id="thumb" src=""/>
                                        </label>

                                            <input type="hidden" id="_token" value="{{ auth_user.id }}" name="userid"/>
                                            <input type="hidden" id="title" value="None" name="title">
                                            <input type="hidden" value="Shared Publicly" name="share" >
                                            <input type="hidden" value="" name="link">
                                            
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="row con-comm">
                                <div class="col-xs-12 frm-comm">
                                    <paper-shadow z="0" class="comment-board">
                                        <span><paper-icon-button class="tool-selected" id="new-text" icon="text-format"></paper-icon-button></span>&nbsp;
                                        <span><paper-icon-button class="" id="new-image" icon="picture-in-picture"></paper-icon-button></span>&nbsp;
                                        <span><paper-icon-button class="" id="new-link" icon="link"></paper-icon-button></span>
                                        <div id="post-btn" class="new-post-btn btn-hide">
                                            <paper-button id="reset-text" style="background: white">CANCEL</paper-button>
                                            <paper-button class="btn-lnk submit-post">
                                                <button class="btn-submit btn-new-post" type="submit" style="height: inherit;">POST</button>
                                            </paper-button>
                                        </div>
                                    </paper-shadow>
                                </div>
                            </div>
                        </form>
                    </paper-shadow><br/>
                </div>
<!--                create-->
                
<!--                user's new post as is-->
                <div id="new-post" class="new-post-hide">
                    <paper-shadow class="indx-fragment" z="0">
                        <div class="row">
                            <div class="col-xs-1 frm-av"><img id="new-post-img" src=""/></div>
                            <div class="col-xs-8">
                                <div id="new-post-name" class="col-xs-12 frm-name">Name</div>
                                <div id="new-post-share-type" class="col-xs-12 frm-share">Share</div>
                            </div>
                            <div id="new-post-date" class="frm-date">date</div>
                            <div class="col-xs-12 frm-txt">
                                <p id="new-post-text">Text</p>
                            </div>
                            <div class="col-xs-12 frm-pic"><img id="new-post-pic" class="img-responsive" src=""/></div>
                            <div class="col-xs-12 frm-dtl">
                                <div class="frm-dtl-info">
                                    <paper-button class="btn-frm-info">
                                        <core-icon icon="thumb-up">
                                        </core-icon>
                                        <span>&emsp;0</span>
                                    </paper-button>
                                    <paper-button class="btn-frm-info">
                                        <core-icon icon="question-answer">
                                        </core-icon>
                                        <span>&emsp;0</span>
                                    </paper-button>
                                </div>
                                <div class="txt-comm" >
                                    <paper-input-decorator label="Add new comment...">
                                        <paper-autogrow-textarea id="a1">
                                            <textarea id="t1" name="comment"></textarea>
                                        </paper-autogrow-textarea>
                                    </paper-input-decorator>
                                </div>
                                <div class="snd-comm hidden-xs">
                                    <paper-icon-button id="snd-comment" icon="send"></paper-icon-button>
                                </div>
                            </div>
                        </div>
                        <div class="row con-comm">
                            <div class="col-xs-12 frm-comm">
<!--                                no comment as is-->
                            </div>
                        </div>
                    </paper-shadow><br/>
                </div>
<!--                user's new post as is-->

<!--                Dynamics here-->
                <div id="dynamic">

                </div>
<!--                Dynamics here-->



<!--                GET from open window-->
                {% if post %}
                {% for user_post in post %}
                <div id="post_activity">
                    <input id="post{{ forloop.counter }}"type="hidden" value="{{ user_post.id }}">
                    <paper-shadow class="indx-fragment" z="0">
                        <div class="row">
                            <div class="col-xs-1 frm-av"><img src="{{ user_post.user_pic }}"/></div>
                            <div class="col-xs-8">
                                <div class="col-xs-12 frm-name">{{ user_post.user_dis_name }}</div>
                                <div class="col-xs-12 frm-share sub-color">{{ user_post.share_type }}</div>
                            </div>
                            <div class="frm-date">{{ user_post.date }}</div>
                            <div class="col-xs-12 frm-txt">
                                <p>{{ user_post.content_text|linebreaksbr }}</p>
                            </div>
                            <div class="col-xs-12 frm-pic"><img class="img-responsive" src="{{ user_post.content_image }}"/></div>
                            <div class="col-xs-12 frm-dtl">
                                <div class="frm-dtl-info">
                                    <paper-button class="btn-frm-info">
                                        <core-icon icon="thumb-up">
                                        </core-icon>
                                        <span>&emsp;{{ user_post.agrees }}</span>
                                    </paper-button>
                                    <paper-button  class="btn-frm-info">
                                        <core-icon icon="question-answer">
                                        </core-icon>
                                        <span>&emsp;{{ user_post.comments }}</span>
                                    </paper-button>
                                </div>
                                <form id="{{ user_post.id }}" method="post">
                                    {% csrf_token %}
                                    <div class="txt-comm" >
                                        <input type="hidden" value="{{ user_post.id }}" name="post_id" />
                                        {% for profile in auth_user.profile %}
                                        <input type="hidden" value="{{ profile.profile_pic }}" name="pic" />
                                        {% endfor %}
                                        <input type="hidden" value="{{ user_post.user_dis_name  }}" name="user_name" />
                                        <paper-input-decorator label="Add new comment...">
                                            <paper-autogrow-textarea id="a1">
                                                <textarea id="t1" name="comment"></textarea>
                                            </paper-autogrow-textarea>
                                        </paper-input-decorator>
                                    </div>
                                    <div class="snd-comm hidden-xs">
                                        <input id="submit-comment{{ user_post.id }}" type="submit" class="hidden"/>
                                        <paper-icon-button class="send-comment" icon="send"></paper-icon-button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row con-comm">
                            <div class="col-xs-12 frm-comm">
                            <!-- Comment start loop-->
                            {% for comment in user_post.comment %}
                                <paper-shadow z="0" class="comment-board">
                                    <div class="col-xs-2 comm-av"><img src="{{ comment.user_pic_url }}"/></div>
                                    <div class="col-xs-10">
                                        <div class="col-xs-12 comm-name">{{ comment.user_name }}</div>
                                        <div class="col-xs-12 comm-time sub-color">{{ comment.comment_date }}</div>
                                    </div>
                                    <div class="col-xs-12 comm-text">
                                        <p>{{ comment.comment }}</p>
                                    </div>
                                </paper-shadow>
                            {% endfor %}
                            <!--   end loop-->
                            </div>
                        </div>
                    </paper-shadow><br/>
                </div>
                {% endfor %}
                {% else %}
                <div class="more">
<!--                    no post available-->
                </div>
                {% endif %}
<!--                end loop-->
                
                
                
                
<!--               My UI ref-->
                <paper-shadow class="indx-fragment hidden" z="0">
                        <div class="row">
                            <div class="col-xs-1 frm-av"><img src=""/></div>
                            <div class="col-xs-8">
                                <div class="col-xs-12 frm-name">John Edward Escuyos</div>
                                <div class="col-xs-12 frm-share sub-color">Shared Publicly</div>
                            </div>
                            <div class="frm-date">2 days ago</div>
                            <div class="col-xs-12 frm-txt">
                                <p>Stop defining the future, make a future yourself instead.</p>
                            </div>
                            <div class="col-xs-12 frm-pic"><img class="img-responsive" src="{% static 'colla/images/google.jpg' %}"/></div>
                            <div class="col-xs-12 frm-dtl">
                                <div class="frm-dtl-info">
                                    <paper-button class="btn-frm-info">
                                        <core-icon icon="thumb-up">
                                        </core-icon>
                                        <span>&emsp;27</span>
                                    </paper-button>
                                    <paper-button  class="btn-frm-info">
                                        <core-icon icon="question-answer">
                                        </core-icon>
                                        <span>&emsp;12</span>
                                    </paper-button>
                                </div>
                                <div class="txt-comm" >
                                    <paper-input-decorator label="Add new comment...">
                                        <paper-autogrow-textarea id="a1">
                                            <textarea id="t1"></textarea>
                                        </paper-autogrow-textarea>
                                    </paper-input-decorator>
                                </div>
                                <div class="snd-comm hidden-xs">
                                    <paper-icon-button id="snd-comment" icon="send"></paper-icon-button>
                                </div>
                            </div>
                        </div>
                        <div class="row con-comm">
                            <div class="col-xs-12 frm-comm">
                                <paper-shadow z="0" class="comment-board">
                                    <div class="col-xs-2 comm-av"><img src=""/></div>
                                    <div class="col-xs-10">
                                        <div class="col-xs-12 comm-name">John Edward Escuyos</div>
                                        <div class="col-xs-12 comm-time sub-color">10:00 AM</div>
                                    </div>
                                    <div class="col-xs-12 comm-text">
                                        <p>Nothing beats my imagination!</p>
                                    </div>
                                </paper-shadow>
                                <paper-shadow z="0" class="comment-board">
                                    <div class="col-xs-2 comm-av"><img src=""/></div>
                                    <div class="col-xs-10">
                                        <div class="col-xs-12 comm-name">John Edward Escuyos</div>
                                        <div class="col-xs-12 comm-time sub-color">10:00 AM</div>
                                    </div>
                                    <div class="col-xs-12 comm-text">
                                        <p>Nothing beats my imagination</p>
                                    </div>
                                </paper-shadow>
                            </div>
                        </div>
                    </paper-shadow><br/>
<!--                UI ref-->
                
                
                <div class="more">
                    <paper-icon-button id="more" icon="autorenew" class="more-refresh"></paper-icon-button>
                </div>
            </div>
                    
            <div id="fragment-project" class="page-frm hidden">
                <paper-shadow class="indx-fragment" z="0">
                    <span>Users projects.</span>
                </paper-shadow>
            </div>
                    
            <div id="fragment-monitor" class="page-frm hidden">
                <paper-shadow class="indx-fragment" z="0">
                    <span>project monitors.</span>
                </paper-shadow>
            </div>
                    
            <div id="fragment-graph" class="page-frm hidden">
                <paper-shadow class="indx-fragment" z="0">
                    <span>project graphs</span>
                </paper-shadow>
            </div>
                    
            <div id="fragment-issue" class="page-frm hidden">
                <paper-shadow class="indx-fragment" z="0">
                    <span>Project Issues.</span>
                </paper-shadow>
            </div>
                    
             
        </div>
        <div class="col-sm-2 hidden-xs">
            <paper-shadow class="side-bar" z="0">
                <div class="side-bar-act">
                    <paper-icon-button id="notification" icon="markunread-mailbox"></paper-icon-button>
                    <paper-icon-button id="chat" icon="question-answer"></paper-icon-button>
                </div>
                <paper-shadow class="side-bar-content" z="0">
                    <span>Notification - People - Chat</span>
                </paper-shadow>
            </paper-shadow>
        </div>
                
<!--New Action Buttons-->
        <div id="action-new">
            <paper-fab id="new-message" class="new-msg" icon="create"></paper-fab>
            <paper-fab id="new-issue" class="new-issue" icon="announcement"></paper-fab>
        </div>
<!--Action Button Dialogs-->
        <paper-dialog id="issue-dialog" transition="core-transition-center">
            <p>New Issue</p>
        </paper-dialog>
        <paper-dialog id="message-dialog" transition="core-transition-center">
            <p>New message</p>
        </paper-dialog>
    </core-header-panel>

<script type="text/javascript" src="{% static 'plugin/jquery-1.11.2.js' %}"></script>
<script type="text/javascript" src="{% static 'colla/js/dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'colla/js/activity.js' %}"></script>
<!--
<script type="text/javascript" src="{% static 'colla/js/project.js' %}"></script>
<script type="text/javascript" src="{% static 'colla/js/monitor.js' %}"></script>
<script type="text/javascript" src="{% static 'colla/js/graph.js' %}"></script>
<script type="text/javascript" src="{% static 'colla/js/issue.js' %}"></script>
-->
</body>

</html>
