<!doctype html>
<html>

<head>

{% load staticfiles %}
<title>Sign up</title>

    <meta name="viewport" 
    content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="{% static 'plugin/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'colla/css/style.css' %}">
    <script src="{% static 'plugin/polymer/components/webcomponentsjs/webcomponents.js' %}">
    </script>
    <link rel="import" href="{% static 'plugin/polymer/components/font-roboto/roboto.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-header-panel/core-header-panel.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-toolbar/core-toolbar.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-tabs/paper-tabs.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-button/paper-button.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-input/paper-input.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-checkbox/paper-checkbox.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-input/core-input.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-dialog/paper-dialog.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-dialog/paper-action-dialog.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-dialog/paper-dialog-transition.html' %}">
    
    <link rel="import" href="{% static 'plugin/polymer/components/core-toolbar/core-toolbar.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-menu/core-menu.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-item/core-item.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-header-panel/core-header-panel.htm' %}l">
    <link rel="import" href="{% static 'plugin/polymer/components/core-drawer-panel/core-drawer-panel.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-icons/core-icons.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/paper-icon-button/paper-icon-button.html' %}">
    <link rel="import" href="{% static 'plugin/polymer/components/core-scaffold/core-scaffold.html' %}">

</head>

<body fullbleed vertical layout unresolved>
<core-header-panel flex>
    <core-toolbar id="sec-color">
        <paper-icon-button id="navicon" onclick="history.back();" icon="arrow-back"></paper-icon-button>
        <span flex>Registration</span>
    </core-toolbar>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <paper-shadow z="1" id="form-register">
            <form id="registerForm" method="post">
            {% csrf_token %}
                <h3>Collaboration starts here.</h3>
                <paper-input-decorator label="USERNAME" floatinglabel="true">
                    <input id="username" is="core-input" name="username"/>
                </paper-input-decorator>
                <paper-input-decorator label="FIRST NAME" floatinglabel="true">
                    <input id="firstname" is="core-input" name="first_name"/>
                </paper-input-decorator>
                <paper-input-decorator label="LAST NAME" floatinglabel="true">
                    <input id="lastname" is="core-input" name="last_name"/>
                </paper-input-decorator>
                <paper-input-decorator label="M.I." floatinglabel="true">
                    <input id="mi" is="core-input" name="middle_name"/>
                </paper-input-decorator>
                <paper-input-decorator label="POSITION" floatinglabel="true">
                    <input id="position" is="core-input" name="position"/>
                </paper-input-decorator>
                <paper-input-decorator label="COMPANY NAME" floatinglabel="true">
                    <input id="company" is="core-input" name="company"/>
                </paper-input-decorator>
                <paper-input-decorator label="E-MAIL ADDRESS" floatinglabel="true">
                    <input id="mail" is="core-input" name="mail"/>
                </paper-input-decorator>
                <paper-input-decorator label="CONFIRM E-MAIL" floatinglabel="true">
                    <input id="cmail" is="core-input" name="cmail"/>
                </paper-input-decorator>
                <paper-input-decorator label="PASSWORD" floatinglabel="true">
                    <input id="pass" is="core-input" name="password" type="password" value="{{j_password}}"/>
                </paper-input-decorator>
                <paper-input-decorator label="CONFIRM PASSWORD" floatinglabel="true">
                    <input id="cpass" is="core-input" name="cpassword" type="password" value="{{j_password}}"/>
                </paper-input-decorator><br/>

                <div class="btn-action">
                    <paper-button class="btn-signup">
                        <button class="btn-submit" type="submit">REGISTER</button>
                    </paper-button>
                </div>
            </form>
        </paper-shadow>
        <paper-dialog id="success-dialog" transition="core-transition-center">
            <p><b>Reqistration Successful</b></p>
            <p>You may login to continue using the app</p>
        </paper-dialog>
        <paper-dialog id="error-dialog" transition="core-transition-center">
            <p><b>Reqistration Failed</b></p>
            <p>Invalid Inputs</p>
        </paper-dialog>
    </div>
</core-header-panel>

    <button onclick="tog()" val="swswsw"></button>
<script type="text/javascript" src="{% static 'plugin/jquery-1.11.2.js' %}"></script>
<script type="text/javascript" src="{% static 'colla/js/signup.js' %}"></script>
</body>

</html>
