<!doctype html>
<html>

<head>

{% load staticfiles %}
<title>Sign up</title>

    <meta name="viewport" 
    content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet"
           type="text/css" href="{% static 'colla/style.css' %}">
    <script src="{% static 'plugin/polymer/components/webcomponentsjs/webcomponents.js' %}">
    </script>
    <link rel="import" href="{% static 'plugin/polymer/components/font-roboto/roboto.html' %}">
    <link rel="import"
      href="{% static 'plugin/polymer/components/core-header-panel/core-header-panel.html' %}">
    <link rel="import"
      href="{% static 'plugin/polymer/components/core-toolbar/core-toolbar.html' %}">
    <link rel="import"
      href="{% static 'plugin/polymer/components/paper-tabs/paper-tabs.html' %}">
    <link rel="import"
      href="{% static 'plugin/polymer/components/paper-button/paper-button.html' %}">
    <link rel="import"
      href="{% static 'plugin/polymer/components/paper-input/paper-input.html' %}">
     <link rel="import"
      href="{% static 'plugin/polymer/components/paper-checkbox/paper-checkbox.html' %}">
     <link rel="import"
      href="{% static 'plugin/polymer/components/core-input/core-input.html' %}">
    
    <link rel="import" 
      href="{% static 'plugin/polymer/components/core-toolbar/core-toolbar.html' %}">
    <link rel="import" 
      href="{% static 'plugin/polymer/components/core-menu/core-menu.html' %}">
    <link rel="import" 
      href="{% static 'plugin/polymer/components/core-item/core-item.html' %}">
    <link rel="import" 
      href="{% static 'plugin/polymer/components/core-header-panel/core-header-panel.htm' %}l">
    <link rel="import" 
      href="{% static 'plugin/polymer/components/core-drawer-panel/core-drawer-panel.html' %}">
    <link rel="import" 
      href="{% static 'plugin/polymer/components/core-icons/core-icons.html' %}">
    <link rel="import" 
      href="{% static 'plugin/polymer/components/paper-icon-button/paper-icon-button.html' %}">
    <link rel="import" 
      href="{% static 'plugin/polymer/components/core-scaffold/core-scaffold.html' %}">

</head>

<body fullbleed vertical layout unresolved>
  <core-header-panel flex>
    <core-toolbar id="sec-color">
      <paper-icon-button id="navicon" 
        icon="arrow-back"></paper-icon-button>
      <span flex>Registration</span>
    </core-toolbar>
    <paper-shadow z="1" id="form-register">
        <h3>Collaboration starts here.</h3>
        <paper-input-decorator label="USERNAME" floatinglabel="true">
            <input id="username" is="core-input" name="username"/>
        </paper-input-decorator>
          <paper-input-decorator label="FIRST NAME" floatinglabel="true">
            <input id="username" is="core-input" name="username"/>
        </paper-input-decorator>
          <paper-input-decorator label="LAST NAME" floatinglabel="true">
            <input id="username" is="core-input" name="username"/>
        </paper-input-decorator>
          <paper-input-decorator label="POSITION" floatinglabel="true">
            <input id="username" is="core-input" name="username"/>
        </paper-input-decorator>
          <paper-input-decorator label="COMPANY NAME" floatinglabel="true">
            <input id="username" is="core-input" name="username"/>
        </paper-input-decorator>
          <paper-input-decorator label="PROJECT NAME (OPTIONAL)" floatinglabel="true">
            <input id="username" is="core-input" name="username"/>
        </paper-input-decorator>
          <paper-input-decorator label="E-MAIL ADDRESS" floatinglabel="true">
            <input id="username" is="core-input" name="username"/>
        </paper-input-decorator>
          <paper-input-decorator label="CONFIRM E-MAIL" floatinglabel="true">
            <input id="username" is="core-input" name="username"/>
        </paper-input-decorator>
          <paper-input-decorator label="PASSWORD" floatinglabel="true">
           <input id="password" is="core-input" name="password" type="password" value="{{j_password}}"/>
        </paper-input-decorator>
          <paper-input-decorator label="CONFIRM PASSWORD" floatinglabel="true">
           <input id="password" is="core-input" name="password" type="password" value="{{j_password}}"/>
        </paper-input-decorator><br/>
        
        <div class="btn-action">
            <paper-button class="btn-link">
              Register
            </paper-button>
        </div>
      </paper-shadow>
  </core-header-panel>

<script type="text/javascript" src="{% static 'colla/signup.js' %}"></script>
</body>

</html>
